[Unit]
Description=Auto add ip address of new container in hosts file
After=docker.socket
BindsTo=docker.socket

[Service]
ExecStart=/usr/local/bin/docker-aaiteh.py

[Install]
WantedBy=multi-user.target
